.hidden-filters {
  @media (max-width: 767px) {
    transform: translateX(-120%);
    transition: all 400ms;
  }
}

.show-filters {
  @media (max-width: 767px) {
    transform: translateX(0);
    transition: all 400ms;
  }
}
