.hidden-filters {
  @media (max-width: 767px) {
    right: 120%;
    transition: left 1ms;
    z-index: 9999;
  }
}

.show-filters {
  @media (max-width: 767px) {
    right: 0;
    opacity: 1;
    visibility: visible;
    transition: all 400ms;
    z-index: 9999;
  }
}
