@import './normalize';

/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './partials/Header';
@import './partials/Filters';

h1 {
  font-size: 15px;
  font-weight: 700;
}

h2 {
  font-size: 13px;
  font-weight: 500;
}

ul {
  list-style: circle;
}

p {
  color: #647196;
}

a,
button {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.arrow {
  box-sizing: border-box;
  height: 5px;
  width: 5px;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
